
 h2{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
 }
  #calculatorBody{
  width: 350px;
  background-color:	#d8d2cd;
  margin: 70px auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px;
  color:  white;
  font-family: Arial, Helvetica, sans-serif;
}

#answer{
  height: 75px;
  width:250px;
  float:right;
  background: #4aadb4;
  border-radius:3px;
  font-size: 25px;
  line-height: 60px;
  color: white;
  text-align:right;
  margin-top: 5px;
  margin-right: 7px;
}
input {
  cursor: pointer;
  width: 75px;
  height: 80px;
  border-radius: 5px;
  font-size: 25px;
  margin: 3px; 
  color: white;
  border: none;
  outline: none;
  background-color: #4aadb4;

  
}
#C {
   background: rgb(173, 80, 64);
}
.action{
  background-color: #519397;
  color: black;
}